<ion-header>

  <ion-navbar>
    <ion-title *ngIf="this.playlist">{{ playlist.name }}</ion-title>
    <ion-title *ngIf="this.artist">{{ artist.name }}</ion-title>
    <ion-title *ngIf="this.album">{{ album.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <!--Playlist-->
  <div class="item-detail" padding *ngIf="this.playlist.playlistSong">
    <h2>{{playlist.name}}</h2>
    <button ion-button color="secondary" round (click)="playSelectedPlaylist()">Play</button>
    <ion-list *ngIf="this.playlist.playlistSong.length">
      <ion-item-sliding *ngFor="let pls of this.playlist.playlistSong index as i">
        <button ion-item detail-none (click)="openPlaylistSong(pls)">
          <ion-thumbnail item-start>
            <img [src]="this.itemBuilder.getThumbnail(pls.song.url)" />
          </ion-thumbnail>
          <h2>{{pls.song.name}}</h2>
        </button>

        <ion-item-options>
          <button ion-button color="danger" (click)="deleteSongFromPlaylist(pls, i)">
            {{ 'DELETE_BUTTON' | translate }}
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

  <!--Artist-->
  <div class="item-detail" padding *ngIf="this.artist">
    <ion-list *ngFor="let album of artist.album">
      <ion-list-header>
        {{album.name}}
      </ion-list-header>

      <ion-item *ngFor="let song of album.song">
        {{song.name}}
        <ion-icon name="add" small item-right></ion-icon>
      </ion-item>
    </ion-list>
  </div>

  <!--Album-->
  <div class="item-detail" padding *ngIf="this.album">
    <ion-list *ngFor="let song of album.song">
      <ion-item>
        {{song.name}}
        <ion-icon name="add" small item-right></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>