<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar>
            <ion-title>Playlists</ion-title>
            <ion-buttons end>
                <button ion-button icon-only *ngIf="this.itemBuilder.hasUser()" (click)="addNewPlaylist()">
                    <ion-icon name="add"></ion-icon>
                </button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list menuClose *ngIf="this.userPlaylists">

            <button ion-item *ngFor="let playlist of userPlaylists index as i" (tap)="openPlaylistDetails(playlist)" (press)="doPlaylistPressActions(playlist, i)">
                <h2>{{playlist.name}}</h2>
            </button>

            <!--<ion-item *ngIf="this.itemBuilder.user._user" (click)="openPlaylistManager()">Manage Playlists</ion-item>-->
            <ion-item *ngIf="this.itemBuilder.user._user" (click)="openSearch()">Search</ion-item>
            <ion-item *ngIf="this.itemBuilder.user._user" (click)="goToLogin()">{{ this.itemBuilder.user._user ? 'Logout' : 'Login'}}</ion-item>
            <ion-item *ngIf="!this.itemBuilder.user._user" (click)="goToLogin()">Login</ion-item>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-nav #content [root]="rootPage"></ion-nav>