<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SEARCH_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar>

  <!---->
  <div *ngIf="this.searchResults">
    <ion-list>
      <ion-list-header *ngIf="searchResults.artists">
        Artists
      </ion-list-header>
      <button ion-item (click)="openItem(item)" *ngFor="let artist of searchResults.artists">
        <h2>{{artist.name}}</h2>
      </button>
    </ion-list>

    <ion-list>
      <ion-list-header *ngIf="searchResults.albums">
        Albums
      </ion-list-header>
      <button ion-item (click)="openItem(item)" *ngFor="let album of searchResults.albums">
        <h2>{{album.name}}</h2>
      </button>
    </ion-list>

    <ion-list>
      <ion-list-header *ngIf="searchResults.songs">
        Songs
      </ion-list-header>
      <button ion-item (click)="openItem(item)" *ngFor="let song of searchResults.songs">
        <h2>{{song.name}}</h2>
      </button>
    </ion-list>
  </div>
</ion-content>